# Example secret file - save it as secret.yaml
wifi_ssid: SSID
wifi_password: WIFIPASSWORD
fallback_hotspot_password: "hotspotpassword"

ota_password: your-ota-password

web_login: your-weblogin
web_password: your-web-password

mqtt_broker: your-mqtt-broker

alarm_access_code: "1234"
